<body>

<div class="container-order">

<h2>订单</h2>
<hr>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>生成时间</th>

    </tr>
    </thead>
    <tbody>

      <% @orders.each do |order| %>
      <tr>
        <td> <%= link_to(order.id, order_path(order.token)) %> </td>
        <td> <%= order.created_at.to_s(:long) %> </td>
      </tr>
      <% end %>
    </tbody>

</table>
</div>
</body>
<style >
h2{
  text-align: center;
  padding-top: 30px;
}
.container-order{

margin-top: 100px;
margin-right: 400px;
margin-left: 400px;
background-color: #fff;
padding-left: 80px;
padding-right: 80px;

background-color: #fff;
margin-left: 300px;
margin-right: 300px;
padding-bottom: 100px;
margin-bottom: 20px;
margin-top: 80px;
border-radius: 16px;
padding-top: 10px;
border-style: solid;
border-width: 1px;
border-color: rgb(221, 221, 221);
}
body{
  background-color: #fffaed;
}
thead{

  background-color: #bcbcbc;
}
th{
  text-align: center;
}
tbody{
  text-align: center;
  background-color: #f0f0f0;
}
</style>
