<div class="container-13 ">
  <h2 class="text-center">养狗小常识：狗狗们不得不说的小心思！</h2>
  <br>

  <div class="text clear" itemprop="articleBody">
          <p id="mpCover" style="display:none"> <img id="coverImg" src="http://photocdn.sohu.com/20151019/mp36484109_1445238709617_1_th.png" style="display:none" alt=""> </p>
  <p>　　别看狗狗们平时总是一副天真活泼的样子，其实它们天真活泼的外表现所藏的小心思可不少，而在养狗的时候，注意到它们这些小心思也是极为重要的。</p>
  <p>　　面对陌生人的时候，狗狗们也有一套它们自己的准则，那就是根据自己视线的高度来判断对手的强弱。当你靠近一只陌生的狗狗的时候，如果你是站着面对它，那么从上面下来的压迫感会让狗狗变得很不安，当然它也不会接受您。但如果是蹲的在它前面的话，特别是蹲的比它眼睛所能看到的高度更低的时候，它就会觉得很安心，当然也就会更容易接受您了。</p>
  <p>　　<img img_width="553" img_height="477" src="http://photocdn.sohu.com/20151019/mp36484109_1445238709617_2.jpeg" alt="" style="max-width:600px;"></p>
  <p>　　人都会有弱点，所以狗狗也不例外。狗狗的弱点一般在右边，所以平常的时候，狗狗一般会保护右边而行动。在遇到危险而走投无路的时候，狗狗会处于本能的把自己的右侧靠向里面，然后把自己的左侧面向敌人。</p>
  <p>　　像人类会有自己的社会准则一样，在狗狗的世界里也有自己的规则，那就是绝不攻击倒下露出肚子的对手。如果一只狗愿意把自己的肚子让你看的话，那就代表着它对你的顺从或投降。只有在很信任的人面前，狗狗才会将肚子朝天躺着睡，也只有很信任的人，狗狗才会让他摸自己的肚子。</p>
  <p>　　<img img_width="501" img_height="456" src="http://photocdn.sohu.com/20151019/mp36484109_1445238709617_3.jpeg" alt="" style="max-width:600px;"></p>
  <p>　　比起自己的同类，狗狗更喜欢人类。除了人类能够照顾它给它吃住之外，更主要的是狗狗在和主人经过长期相处之后会产生一种陪伴之情。对于自己的主人，狗狗会有一种很强烈的保护欲，所以经常会有狗狗从火宅的房子里或者水中等救出人类的报道。对于自己受伤或者受难的狗友同伴，狗狗也会伸出自己的援助之手。</p>
  <p>　　像人类一样，狗狗也会有它们自己的虚荣心，它也喜欢获得人类的称赞和表扬。在它做完一件事或者逗你开心过后，它也会希望得到主人的赞美。如果主人拍手夸奖它或者是抚摸它，它会比吃了一顿丰富的大餐更开心。当然，有虚荣心就会有嫉妒心，狗狗的嫉妒心比起人类来说可谓是有过之而无不及。当自己的主人把注意力放在别的狗狗身上而忽略它的时候，狗狗会非常的愤怒，再也不像以前一样乖巧懂事，变得非常的暴躁和具有破坏性，直到主人重新把注意力放回到自己身上为止。</p>
  <p>　　<img img_width="549" img_height="348" src="http://photocdn.sohu.com/20151019/mp36484109_1445238709617_4.jpeg" alt="" style="max-width:600px;"></p>
  <p>　　狗狗也有自己的领地习性，对于自己的占有范围，狗狗会进行加台保护，不让其他动物或同伴入侵。一般情况下，狗狗会用具有特殊气味的肛门腺分泌物、趾间汗腺分泌的汗液或者用后肢在地上抓画的方式，作为自己领地的记号。</p>
  <p>　　在记忆里方面，狗狗的表现是相当惊人。凡是和它有过亲密相处过的人，狗狗永远不会忘记它的声音。无论分开多久，狗狗如果有机会再见到自己曾经的主人，也一定会马上认出来，并表现的非常亲近。</p>
  		</div>
<img src="https://ooo.0o0.ooo/2017/02/20/58aa764875e91.jpg" width="500px";>
</div>


<style>
body{
  background-color: #fff6e0;

}
  p{
    font-size: 15px;
    line-height: 26px;
    word-wrap: break-word;
    padding: 26px 0 0;
  }
  .container-13{
    padding-left: 80px;
    padding-right: 80px;

    background-color: #fff;
    margin-left: 300px;
    margin-right: 300px;
    padding-bottom: 100px;
    margin-bottom: 20px;
    margin-top: 20px;

    padding-top: 10px;

  }
</style>
