
<div class="container-order">


<h2>订单列表 </h2>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>#</th>
      <th>生成时间</th>
      <th>订购者</th>
      <th>订单状态</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>
      <td> <%= link_to(order.id, admin_order_path(order) ) %> </td>
      <td> <%= order.created_at.to_s(:long) %> </td>
      <td> <%= order.user.email %></td>
      <td> <%= order.aasm_state %> </td>
    </tr>
    <% end %>

  </tbody>
</table>
</div>

<style >
h2{
  text-align: center;
  padding-top: 30px;
}
.container-order{

margin-top: 100px;

background-color: #fff;
padding-left: 80px;
padding-right: 80px;

background-color: #fff;
margin-left: 10px;
margin-right: 100px;
padding-bottom: 100px;


border-radius: 16px;
padding-top: 10px;
border-style: solid;
border-width: 1px;
border-color: rgb(221, 221, 221);
}
body{
  background-color: #fffaed;
}
thead{

  background-color: #bcbcbc;
}
th{
  text-align: center;
}
tbody{
  text-align: center;
  background-color: #f0f0f0;
}
</style>
