<!DOCTYPE html>
<body>
    <!-- 图标搜索框 -->
        <div class="row row2 ">
          <!-- logo and search -->
            <div class="col-sm-5 text-left">
              <!-- logo  -->
                <div  class="logo">
                    <a href="/">
                        <i class="fa fa-paw" aria-hidden="true"></i>
                        <span>
                            <strong>Lucky Dog</strong>
                        </span>
                    </a>
                </div>
                <!-- end -->

                <!-- search for -->
                <div class="search">
                    <%= form_tag products_path, :method => "get" do %>
                    <div class="searchform">
                        <%= text_field_tag :search, params[:search], placeholder: "请输入宠物名称", class: "searchbox"%>
                        <span>
                            <button type="submit" class="searchbutton">
                              <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <% end %>
                </div>
                <!-- end search -->
            </div>
            <!-- end logo & search -->
        </div>



        <!-- 首页大图 -->
        <div class="container-photo">
            <div class="row1">
                <p>&nbsp; The warmest<br>accompany to you</p>
            </div>

            <button type="button" class="btn btn-primary btn-round-lg btn-lg">
                <a href="/products">
                    <strong>Shop Now</strong></a>
            </button>
        </div>

        <!-- end -->

        <!-- 服务保障 -->
        <section class="service-promise">
            <div class="container">
                <div class="service-title text-center">
                    <h1>Our services</h1>
                    <hr>
                </div>
                <!-- end general title -->

                <div class="row module-wrapper text-center">
                    <div class="col-md-3 col-sm-3 why-us">
                        <img src="https://ww3.sinaimg.cn/large/006tNc79ly1fcupqsp8swj303c02vgli.jpg" alt="">
                        <div >
                            &nbsp;
                        </div>
                        <p>
                            <strong>纯种保障</strong>
                        </p>
                        <p>签协议保证所售宠物狗为纯种犬，如果出现不纯种问题终身包退换。
                        </p>
                        <a href="#" class="readmore">了解更多</a>
                    </div>
                    <!-- end col -->
                    <!-- our services -->
                    <div class="col-md-3 col-sm-3 why-us">
                        <img src="https://ww4.sinaimg.cn/large/006tNc79ly1fcupsl6pqqj303c02vgli.jpg" alt="">
                        <div >
                            &nbsp;
                        </div>
                        <p> <strong>
                                健康保证
                            </strong>
                        </p>
                        <p>每一只狗狗必须严格体检后，我们才会出售!</p>
                        <!--<p>所有宠物包30天专业宠物咨询团队一对一跟踪售后，提供24小时健康咨询。</p>-->
                        <a href="#" class="readmore">了解更多</a>
                    </div>
                    <!-- end col -->

                    <div class="col-md-3 col-sm-3 why-us">
                        <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fcuptse2jmj303c02vaa3.jpg" alt="">
                        <div>
                            &nbsp;
                        </div>
                        <p>
                            <strong>服务保障</strong>
                        </p>
                        <p>不会养！没关系！我们手把手教你！
                        </p>
                        <!--<p>一对一宠物咨询服务，手把手教你养狗。在线宠物医生提供实时免费咨询。
                        </p>-->
                        <a href="#" class="readmore">了解更多</a>
                    </div>
                    <!-- end col -->
                    <div class="col-md-3 col-sm-3 why-us">
                        <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fcupv24kv7j303c02vq2v.jpg" alt="">
                        <div >
                            &nbsp;
                        </div>
                        <p>
                            <strong>担保交易</strong>
                        </p>
                        <p>享受15天健康担保期，犬瘟细小等疾病退货，宠物与描述不符合退货退款。
                        </p>
                        <a href="#" class="readmore">了解更多</a>
                    </div>
                    <!-- end col -->
                </div>
                <!-- end module-wrapper -->
            </div>
            <!-- end container -->
        </section>


        <!-- title -->
        <div class="container-hot">
            <div class=" text-center">
                <h1 class="widget-title">
                    Top recommend
                </h1>
                <!--<h4>
                  <em>Choose a payment plan that works for you</em>
              </h4>-->
                <hr>
                <!-- hot recommend -->
                <div class="fl">
                    <a href="/products"><img src="http://img1.dog126.com/images/dog_1.jpg" width="400" height="250"></a>
                    <a href="/products"><img src="http://img1.dog126.com/images/dog_2.jpg" width="250" height="254"></a>
                    <a href="/products"><img src="http://img1.dog126.com/images/dog_3.jpg" width="250" height="254"></a>
                    <a href="/products"><img src="http://img1.dog126.com/images/dog_5.jpg" width="250" height="254"></a>
                    <a href="/products"><img src="http://img1.dog126.com/images/dog_6.jpg" width="250" height="254"></a>
                    <a href="/products"><img src="http://img1.dog126.com/images/dog_7.jpg" width="250" height="254"></a>
                    <a href="/products"><img src="http://img1.dog126.com/images/dog_8.jpg" width="250" height="254"></a>
                </div>
            </div>
        </div>

        <!-- our promise -->


        <!-- customer reviews -->
        <div class="container-customer text-center">
            <h1 class="widget-title">
                <em>Customer reviews</em>
            </h1>

            <hr>
            <div class="flex-content"><img
                width="148"
                height="148"
                src="https://ld-wp.template-help.com/woocommerce_58649/wp-content/uploads/2016/04/testimonial_img_1.jpg"
                class="bne-testimonial-featured-image circle wp-post-image"
                alt=" "
                srcset="https://ld-wp.template-help.com/woocommerce_58649/wp-content/uploads/2016/04/testimonial_img_1-119x119.jpg 119w, https://ld-wp.template-help.com/woocommerce_58649/wp-content/uploads/2016/04/testimonial_img_1.jpg 148w"
                sizes="(max-width: 148px) 100vw, 148px"
                draggable="false">
                <h3 class="bne-testimonial-heading">Miss Li</h3>
                <div class="bne-testimonial-description">
                    <p>There is an old man in my family. Children have their own things to do, very few accompany around.
                        <br>It's hard to find time to pick a dog for my family. Thank you Lucky Dog, let me save a lot of energy. Let my old man more than a loved one!
                    </p>
                </div>
                <div class="clear"></div>
            </div>
        </div>

        <!-- pets tips -->

        <div class="container-tip text-center">
            <h1 >
                Pets Tips
            </h1>

            <h4>
                <em>A friend around me and verify my growth</em>
            </h4>
            <hr>

            <div >
                <div class="col-sm-3">
                    <div class="panel-body"><img src="https://ww4.sinaimg.cn/large/006tNc79gy1fcong0n2cnj31kw2da1l0.jpg" class="img-responsive" alt="Image"></div>
                    <h4 >
                        <em>
                            Published on Februery</em>
                    </h4>
                    <p>I was looking for a friend who I could commpany with he or she fore
                    </p>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="panel-body"><img src="https://ww3.sinaimg.cn/large/006tNc79gy1fconv8f3r8j31kw11xx6q.jpg" class="img-responsive" alt="Image"></div>

                    <h4>
                        <em>Published on Februery</em>
                    </h4>
                    <p>I was looking for a coffee machine that is not too pricy for my limited budget, but at the same time not too cheap. Because everyone knows,
                        <br>that no good quality and durability are attached to a low price tag.</p>
                </div>
                <div class="col-sm-3">
                    <div class="panel-body"><img src="https://ww1.sinaimg.cn/large/006tNc79gy1fcons2zvcqj31kw11ye85.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                    <h4>
                      <em>Published on Februery</em>
                    </h4>
                    <p>I was looking for a coffee machine that is not too pricy for my limited budget.
                    </p>
                </div>
                <div class="col-sm-3">
                    <div class="panel-body"><img src="https://ww1.sinaimg.cn/large/006tNc79gy1fconzmmymqj31kw11x7wk.jpg" class="img-responsive" style="width:100%" alt="Image"></div>
                    <h4>
                        <em> Published on Februery</em>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
</body>

<style>
/* Remove the navbar's default rounded borders and increase the bottom margin */

/* Remove the jumbotron's default bottom margin */
.row1 {
    margin-top: 34px;
    background-color: rgb(62, 171, 54);

}
.row2{
  width: 1300px;
    margin: 0 auto;
     margin-top: 50px;
     margin-bottom: 4px;


}
.row2 .logo{
  float: left;
   margin-right: 300px;
  padding-top: 20px;
  padding-bottom: 20px;


}
.row2 a{
  text-decoration: none;
}
.row2 i {
    font-size: 50px;
    color: #f65e65;
}
.row2 span {
    font-size: 25px;
    color: #000;

}

/**** 首页大图 ****/
.container-photo .btn {
    background-color: #f65e65;

}
.container-photo .btn-round-lg {
    border-radius: 22.7px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 3px;
    margin-top: 80px;
    margin-left: 50px;
    font-size: 30px;

}
.container-photo {
  clear: both;

    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 60px;
    width: inherit;

    height: 800px;

    font-family: sans-serif;
    padding-left: 200px;
    font-size: 50px;
    padding-left: 200px;
    padding-top: 200px;
    background-image: url("https://ooo.0o0.ooo/2017/02/19/58a99f31c9a57.jpg");
    background-repeat: round;
    background-color: rgb(86, 196, 76);
}

.container-photo h1 {
    font-size: 100px;
}
.container-photo .row1 {
    color: #fff;
}



/*  search for */
.search{
  float: left;
  width: 450px;
  position: relative;
  margin-left: 810px;
  margin-top: -4.5em;

}

.searchbox {
    height: 40px;
    width: 450px;
    padding: 5px 30px;
    border-style: solid;
    border-color: #f65e65;
    border-radius: 20px;
    border-width: 2px;
    font: 14px arial;


}
.searchbutton {

  width:  45px;
 height: 40px;
 border:  none;
 background: none;
 font-family: "Microsoft YaHei";
 font-size:  2px;
 position:  absolute;
 cursor:  pointer;
 right: 0;
 top:  0;
}
.searchbutton .fa-search{
  font-size: 20px;
}

.btn a {
    color: #fff;
    font-family: sans-serif;
}


h4 {
    color: #999999;
}

/*** 服务保障 ****/
.service-promise {
    padding: 80px 0;
    background-color: #1ef;
}
.container-hot{
  border-color: #000;
}
.container-hot hr {
    width: 100px;
    border-width: 3px;
    margin: 25px auto;
    border-color: #f65e65;
}
.container-hot .fl {
    margin-top: 50px;
    margin-bottom: 60px;
}
.service-title hr {
    width: 100px;
    border-width: 3px;
    margin: 25px auto;
    border-color: #f65e65;
}

/***** customer reviews ******/
.container-customer {
  background-color: rgb(78, 188, 236);
    margin-bottom: 70px;
}
.container-customer h3 {
    font-family: 'Playfair Display';
    font-style: italic;
    font-weight: 900;
    font-size: 22px;
    line-height: 1.3;
    letter-spacing: 0;
    color: #f65e65;

}
.container-customer h1 {

    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 40px;
}
.container-customer img {
    margin-top: 20px;
    margin-bottom: 20px;
}
.container-customer p {
    text-align: center;
    margin-bottom: 20px;
}
.container-customer hr {
    width: 100px;
    border-width: 3px;
    margin: 25px auto;
    border-color: #f65e65;
}

/***** pets tips *****/
.container-tip {
  background-color: #f65e65;
    margin: 20px 170px 60px;

}

.container-tip hr {
    width: 100px;
    border-width: 3px;
    margin: 25px auto;
    border-color: #f65e65;
}

</style>
