<body>

<div class="container-1">

    <h1>Lucky Dog</h1>
    <p><em>The best<br>
    service to your pets</em></p>
    <button class="btn btn-lg"><em>  <%= link_to("Shop Now", products_path) %></em> <i class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></button>
  </div>


<div class="container">
  <div class="container-4 text-center">
   <h2 class="widget-title">

     Pricing
     </h2>
   <h4>Choose a payment plan that works for you</h4>
 </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-primary text-center">
        <div class="panel-heading">
          <h1>Golden Retriever</h1>
        </div>
        <div class="panel-body">
          <div class="panel-body"><img src="https://ww2.sinaimg.cn/large/006tNc79gy1fcnwi2752pj307n053q2x.jpg" class="img-responsive" style="width:100%" alt="Image"></div>

        </div>
        <div class="panel-footer">
          <h3>$200</h3>
          <h4>per dog</h4>
          <button class="btn btn-lg"><%= link_to("Sign Up", products_path) %></button>
        </div>
      </div>
    </div>


    <div class="col-sm-4">
      <div class="panel panel-primary text-center">
        <div class="panel-heading">
          <h1>Samoa</h1>
        </div>
        <div class="panel-body">
          <div class="panel-body"><img src="https://ww2.sinaimg.cn/large/006tNc79gy1fcnwjjrjcjj306o04ga9v.jpg" class="img-responsive" style="width:100%" alt="Image"></div>

        </div>
        <div class="panel-footer">
          <h3>$4000</h3>
          <h4>per dog</h4>
          <button class="btn btn-lg"><%= link_to("Sign Up", products_path) %></button>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="panel panel-primary text-center">
        <div class="panel-heading">
          <h1> Shepherd dog</h1>
        </div>
        <div class="panel-body">
          <div class="panel-body"><img src="https://ww3.sinaimg.cn/large/006tNc79gy1fcnwtrpk48j307k055jra.jpg" class="img-responsive" style="width:100%" alt="Image"></div>

        </div>
        <div class="panel-footer">
          <h3>$2000</h3>
          <h4>per dog</h4>
          <button class="btn btn-lg"><%= link_to("Sign Up", products_path) %></button>
        </div>
      </div>
  </div>
</div><br>

</body>

<style>
   /* Remove the navbar's default rounded borders and increase the bottom margin */


   /* Remove the jumbotron's default bottom margin */
    .container-1 {


      margin-right: -15px;
      margin-left: -15px;
      margin-bottom: 100px;
      width: auto;

      height: 600px;

      font-family: serif;
      padding-left: 200px;
      font-size: 50px;
      padding-top: 110px;
    background-image: url(https://ww1.sinaimg.cn/large/006tKfTcjw1fclf2aeldtj31kw11x1kx.jpg);
   }

   /* Add a gray background color and some padding to the footer */
   .footer {
     background-color: #c0c0c0;
     padding: 25px;
   }
   .btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
}

/* On hover, the color of .btn will transition to white with black text */
.btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
}

.thumbnail img {
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}

.panel {
    border: 1px solid #f4511e;
    border-radius:0;
    transition: box-shadow 0.5s;
}

.panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}

.panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
}

.panel-heading {
    color: #fff !important;
    background-color: #07b0ba !important;
    padding: 25px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

.panel-footer {
    background-color: #fff !important;
}

.panel-footer h3 {
    font-size: 32px;
}

.panel-footer h4 {
    color: #aaa;
    font-size: 14px;
}

.panel-footer .btn {
    margin: 15px 0;
    background-color: #07b0ba;
    color: #fff;

}
.container-4{
  margin-bottom: 30px;
}
.container-1 h1{
  font-size: 100px;
}
hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 2px solid #ff8a2b;
}

 </style>
