<body>
    <div class="containter ">
        <div class=" row row2 ">
            <div class="col-sm-5 text-left">
                <div id="logo" class="logo">
                    <a href="/">
                        <i class="fa fa-paw" aria-hidden="true"></i>
                        <span>
                            <strong>Lucky Dog</strong>
                        </span>
                    </a>
                </div>
            </div>


        </div>

        <div class="container-1">
            <div class="row1">
                <p>
                    &nbsp; The warmest
                    <br>
                    accompany to you</p>
            </div>

            <button type="button" class="btn btn-primary btn-round-lg btn-lg">

                <a href="/products"><strong>Shop Now</strong></a>
            </button>


        </div>

        <!-- search for -->

        <div class="searchfor">

            <%= form_tag products_path, :method => "get" do %>
            <div class="searchform">
                <%= text_field_tag :search, params[:search], placeholder: "Searching...", class: "searchbox"%>
                <span>
                    <button type="submit" class="btn2 btn2-default nav-search">
                        <span >Search</span>

                    </button>
                    <!-- <input type="submit" value="点 击" class="mike"> -->
                </span>
            </div>
            <% end %>

        </div>

        <!-- title -->
        <div class="container">
            <div class="container-4 text-center">
              <h1 class="widget-title">

                  Hot Recommended
              </h1>
              <!--<h4>
                  <em>Choose a payment plan that works for you</em>
              </h4>-->
              <hr>
              <!-- hot recommend -->
              <div class="fl">
                    <a href="/"><img src="http://img1.dog126.com/images/dog_1.jpg" width="400" height="250"></a>
                    <a href="/l"><img src="http://img1.dog126.com/images/dog_2.jpg" width="250" height="254"></a>
                    <a href="/"><img src="http://img1.dog126.com/images/dog_3.jpg" width="250" height="254"></a>
                    <a href="/"><img src="http://img1.dog126.com/images/dog_5.jpg" width="250" height="254"></a>
                    <a href="/"><img src="http://img1.dog126.com/images/dog_6.jpg" width="250" height="254"></a>
                    <a href="/"><img src="http://img1.dog126.com/images/dog_7.jpg" width="250" height="254"></a>
                    <a href="/"><img src="http://img1.dog126.com/images/dog_8.jpg" width="250" height="254"></a>
                   </div>

                 </div>
               </div>

<!-- our promise -->
<section class="section white">
    <div class="container">
        <div class="general-title text-center">
            <h1>Our Services</h1>

            <hr>

        </div>
        <!-- end general title -->

        <div class="row module-wrapper text-center">
            <div class="col-md-3 col-sm-3 why-us">
                <img src="https://ww3.sinaimg.cn/large/006tNc79ly1fcupqsp8swj303c02vgli.jpg" alt="">
                <div >
                    &nbsp;
                </div>
                <p>
                    <strong>Certification</strong>
                </p>
                <p>Distemper fine month mistress package returned check for payment after the warranty agreement signed.
                </p>
                <a href="#" class="readmore">Read more</a>
            </div>
            <!-- end col -->

            <div class="col-md-3 col-sm-3 why-us">
                <img src="https://ww4.sinaimg.cn/large/006tNc79ly1fcupsl6pqqj303c02vgli.jpg" alt="">
                <div >
                    &nbsp;
                </div>
                <p>
                    <strong>
                        Health security
                    </strong>
                </p>
                <p>All our pet dog needs at least 2 times vaccine (Holland, 2 Intervet vaccine) (Bayer insectifuge)</p>
                <a href="#" class="readmore">Read more</a>
            </div>
            <!-- end col -->

            <div class="col-md-3 col-sm-3 why-us">
                <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fcuptse2jmj303c02vaa3.jpg" alt="">
                <div >
                    &nbsp;
                </div>
                <p>
                    <strong>Pet quality</strong>
                </p>
                <p>Amoy dog network quality team on each pet product phase, pedigree, health checks, service.
                </p>
                <a href="#" class="readmore">Read more</a>
            </div>
            <!-- end col -->

            <div class="col-md-3 col-sm-3 why-us">
                <img src="https://ww2.sinaimg.cn/large/006tNc79ly1fcupv24kv7j303c02vq2v.jpg" alt="">
                <div >
                    &nbsp;
                </div>
                <p>
                    <strong>Service guarantee</strong>
                </p>
                <p>A one - to - one pet counseling service to teach you how to raise dogs and online pet doctor provided.
                </p>
                <a href="#" class="readmore">Read more</a>
            </div>
            <!-- end col -->
        </div>
        <!-- end module-wrapper -->
    </div>
    <!-- end container -->
</section>







            <div class="container-5 text-center">
                <h1 class="widget-title">

                    Pets Story
                </h1>

                <h4>
                    <em>A friend around me and verify my growth</em>
                </h4>
                  <hr>


            <div class="row3 ">
                <div class="col-sm-3">
                    <div class="panel-body"><img src="https://ww4.sinaimg.cn/large/006tNc79gy1fcong0n2cnj31kw2da1l0.jpg" class="img-responsive"  alt="Image"></div>
                    <h4 >
                        <em>
                            Published on Februery</em>
                    </h4>
                    <p>I was looking for a friend who I could commpany with he or she fore
                    </p>
                </div>
                <div class="col-sm-6 text-center">
                    <div class="panel-body"><img src="https://ww3.sinaimg.cn/large/006tNc79gy1fconv8f3r8j31kw11xx6q.jpg" class="img-responsive" alt="Image"></div>

                    <h4>
                        <em>
                            Published on Februery</em>
                    </h4>
                    <p>I was looking for a coffee machine that is not too pricy for my limited budget, but at the same time not too cheap. Because everyone knows,
                        <br>that no good quality and durability are attached to a low price tag.</p>
                </div>

                <div class="col-sm-3">
                    <div class="panel-body"><img src="https://ww1.sinaimg.cn/large/006tNc79gy1fcons2zvcqj31kw11ye85.jpg" class="img-responsive" style="width:100%" alt="Image"></div>

                    <h4>
                        <em>
                            Published on Februery</em>
                    </h4>
                    <p>I was looking for a coffee machine that is not too pricy for my limited budget.
                    </p>
                </div>
                <div class="col-sm-3">
                    <div class="panel-body"><img src="https://ww1.sinaimg.cn/large/006tNc79gy1fconzmmymqj31kw11x7wk.jpg" class="img-responsive" style="width:100%" alt="Image"></div>

                    <h4>
                        <em>
                            Published on Februery</em>
                    </h4>

                </div>

            </div>
        </div>

    </div>
</div>

    <div class="container-7 text-center">
        <h1 class="widget-title">
            <em>Customer Reviews</em>
        </h1>

          <hr>

        <div class="flex-content"><img
            width="148"
            height="148"
            src="https://ld-wp.template-help.com/woocommerce_58649/wp-content/uploads/2016/04/testimonial_img_1.jpg"
            class="bne-testimonial-featured-image circle wp-post-image"
            alt=" "
            srcset="https://ld-wp.template-help.com/woocommerce_58649/wp-content/uploads/2016/04/testimonial_img_1-119x119.jpg 119w, https://ld-wp.template-help.com/woocommerce_58649/wp-content/uploads/2016/04/testimonial_img_1.jpg 148w"
            sizes="(max-width: 148px) 100vw, 148px"
            draggable="false">
            <h3 class="bne-testimonial-heading">Mary Willis</h3>
            <div class="bne-testimonial-description">
                <p>I was looking for a coffee machine that is not too pricy for my limited budget, but at the same time not too cheap.
                    <br>Because everyone knows, that no good quality and durability are attached to a low price tag. Here I've found hundreds of choices, so I was easily able...</p>
            </div>
            <div class="clear"></div>
        </div>
    </div>


</body>

<style>
    /* Remove the navbar's default rounded borders and increase the bottom margin */

    /* Remove the jumbotron's default bottom margin */
    .row1 {
        margin-top: 34px;

    }
    .row2 {
        margin: 15px -2000px 20px -15px;

    }
    .row2 i {
        font-size: 50px;
        color: #f65e65;
    }
    .row2 span {
        font-size: 25px;
        color: #000;
    }
    .container-1 .btn {
        background-color: #f65e65;

    }
    .container-1 .btn-round-lg {
        border-radius: 22.7px;
        padding-left: 50px;
        padding-right: 50px;
        padding-top: 3px;
        margin-top: 80px;
        margin-left: 50px;
        font-size: 30px;

    }
    .container-1 {

        margin-right: -15px;
        margin-left: -15px;
        margin-bottom: 60px;
        width: inherit;

        height: 800px;

      font-family: sans-serif;
        padding-left: 200px;
        font-size: 50px;
        padding-left: 200px;
        padding-top: 200px;
        background-image: url("https://ooo.0o0.ooo/2017/02/19/58a99f31c9a57.jpg");
        background-repeat:round;
    }

    /* Add a gray background color and some padding to the footer */
    .footer {
        background-color: #c0c0c0;
        padding: 25px;
    }

    .thumbnail {
        padding: 0 0 15px;
        border: none;
        border-radius: 0;
    }

    .thumbnail {
        padding: 0 0 15px;
        border: none;
        border-radius: 0;
    }

    .thumbnail img {
        width: 100%;
        height: 100%;
        margin-bottom: 10px;
    }

    .panel {
        border: 1px solid #07b0ba;
        border-radius: 0;
        transition: box-shadow 0.5s;
    }
    .panel:hover {
        box-shadow: 5px 0 40px rgba(0,0,0, .2);
    }
    .panel-footer .btn:hover {
        border: 1px solid #07b0ba;
        background-color: #fff !important;
        color: #07b0ba;
    }

    .panel-heading {
        color: #fff !important;
        background-color: #07b0ba !important;
        padding: 25px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .panel-footer {
        background-color: #fff !important;
    }

    .panel-footer h3 {
        font-size: 32px;
    }

    .panel-footer h4 {
        color: #aaa;
        font-size: 14px;
    }

    .panel-footer .btn {
        margin: 15px 0;
        background-color: #07b0ba;
        color: #fff;

    }
    .container-4 {
        margin-top: 100px;
        margin-bottom: 60px;
    }
    .container-5 {
        margin-top: 20px;
        margin-bottom: 60px;
        margin-left: 170px;
        margin-right: 170px;

    }


    .container-1 h1 {
        font-size: 100px;
    }
    .btn-lg1 {
        color: #fff; //字体颜色
        background-color: #ff8a2b; //背景颜色
        border-color: #EF6C00; //边框颜色
    }
    .container-7{
      margin-bottom: 70px;
    }
    .container-7 h3 {
        font-family: 'Playfair Display';
        font-style: italic;
        font-weight: 900;
        font-size: 22px;
        line-height: 1.3;
        letter-spacing: 0;
        color: #f65e65;

    }
    .container-7 h1 {

        margin-top: 100px;
        margin-bottom: 30px;
        font-size: 40px;
    }
    .container-7 img {
      margin-top: 20px;
        margin-bottom: 20px;
    }
    .container-7 p {
        text-align: center;
        margin-bottom: 20px;
    }
    .bg-grey {
        margin-top: 60px;
    }

    .container-8 {
        margin-top: 30px;
        margin-bottom: 70px;
        margin-left: 150px;
    }
    .container-9 {
        margin-top: 20px;
    }

    .container-1 .row1 {
        color: #fff;
    }
    /*  search for */
    .searchform {
        position: relative;

        text-align: center;
    }
    .searchbox {

        height: 45px;
        width: 600px;
        font: 16px arial;
        border: 1px solid #b8b8b8;

    }
    .btn2 {
        display: inline-block;
        margin-bottom: 0;
        font-weight: normal;
        text-align: center;
        vertical-align: middle;
        touch-action: manipulation;
        cursor: pointer;
        background-image: none;
        border: 1px solid transparent;
        white-space: nowrap;
        margin-left: -4px;
        margin-top: -2px;
        font-size: 20px;
        line-height: 1.42857143;
        padding: 10px 30px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border-radius: 1.5px;
    }
    .btn2:focus,
    .btn2:hover {
        border: 1px solid #f65e65;
        background-color: #fff;
        color: #000;
    }
    .btn2-default {
        color: #fff;
        background-color: #f65e65;
        border-color: #f65e65;
    }
    .btn  a{
      color: #fff;
      font-family: sans-serif;
    }

.section{
  padding: 80px 0;
}
.general-title hr{
  width: 100px;
  border-width: 3px;
  margin: 25px auto;
  border-color: #f65e65;
}
.container-4 hr{
  width: 100px;
  border-width: 3px;
  margin: 25px auto;
  border-color: #f65e65;
}
.container-5 hr{
  width: 100px;
  border-width: 3px;
  margin: 25px auto;
  border-color: #f65e65;
}
h4{
  color: #999999;
}
.why-us a{
  color: #f65e65;
}
.why-us{
  margin-top: 40px;
  font-size: 15px;
}
.why-us img{
  width: 140px;
}
.container-4 .fl{
  margin-top: 50px;
  margin-bottom: 60px;
}
.container-7 hr{
  width: 100px;
  border-width: 3px;
  margin: 25px auto;
  border-color: #f65e65;
}
</style>
