// Place all the styles related to the admin::products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
hr {
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    border-top: 2px solid #ff8a2b;
}
