<div class="container row">
  <h1 class="text-center">网站介绍</h1>
<p>
  <br>&nbsp;&nbsp;Lucky Dog幸运狗网站，成立于2017年，网站为用户提供从看狗、选狗、买狗为一体的服务平台。网站坚持以服务狗友为本、打造诚信的宠物交易平台为宗旨，以热诚的服务、先进的研发设计、规范化的管理， 将“优质犬种，健康狗狗”，落实到网站发展的每一个环节之中，更快更好为推进中国宠物狗行业的发展网聚力量!

     Lucky Dog是一个宠物市场核心数据的拥有者和提供者，覆盖了几十个犬种，拥有上万条宠物狗资料，几万家宠物犬舍及其即时报价。构建了国内规模大、数据准确、更新及时的宠物狗数据库、图片库和报价库。

<div class="photo">
  <img src="https://ooo.0o0.ooo/2017/02/20/58aa7b02e45fb.jpg" alt="">
</div>

</p>
</div>
<style>
.container{
    margin-top: 40px;

    padding-left: 80px;
    padding-right: 80px;
    width: 824px;
    background-color: #fff;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 100px;
    margin-bottom: 20px;
    margin-top: 80px;
    border-radius: 16px;
    padding-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(221, 221, 221);
}
body{
  background-color: #fffaed;

}
  p{
    font-size: 15px;
    line-height: 26px;
    word-wrap: break-word;
    padding: 26px 0 0;
  }

</style>
