<h1>About US</h1>
<p>
Lucky Dog was founded since July 2017 on the line so far, focusing on creating self logistics system, and in Chongqing, Shanghai, Hongkong, respectively, the establishment of a self storage center, the annual sales of pet pet supplies category over 30 thousand kinds. In the field of professional degree, customer satisfaction, the degree of experience has achieved a breakthrough in the purchase of the breakthrough, has been the first pet pet high rate of pet products B2C platform.
</p>
