/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require social-share-button
 */
@import "social-share-button";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

.alert {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 0;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-default {
  background-color: #323232;

}
.btn {
    padding: 10px 20px;
    background-color: #f65e65;
    color: #fff;
    border-radius: 0;
    transition: 0.2s;
}

/* On hover, the color of .btn will transition to white with black text */
.btn:focus,
.btn:hover {
    border: 1px solid #333;
    background-color: #fff;
    color: #333;
}


$size: 30px;
.action{
  .social-share-button {
    .ssb-icon {
      background-size: $size $size;
      height: $size;
      width: $size;
    }
  }
}
